<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.lucaswerkmeister.peep.core.beforeCreate">
      <client
            class="de.lucaswerkmeister.peep.git.CreateBranch">
      </client>
   </extension>
   <extension
         point="de.lucaswerkmeister.peep.core.afterCreate">
      <client
            class="CommitNewFile">
      </client>
   </extension>

</plugin>
