<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="de.lucaswerkmeister.code.peep.wizards.NewProblemWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="Project_Euler_Eclipse_Plugin"
            name="%category.name">
      </category>
      <wizard
            category="Project_Euler_Eclipse_Plugin"
            class="de.lucaswerkmeister.peep.wizards.NewProblemWizard"
            icon="icons/pe_new.png"
            id="de.lucaswerkmeister.code.peep.wizards.NewProblemWizard"
            name="%wizard.name">
      </wizard>
   </extension>

</plugin>
